body {
    margin: 0;
    font-family: arial;
}

.header-container {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    align-items: center;
}

.header-button {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 20px;
    height: 30px;
}

#apple-button {
    margin-left: 20;
}

#google-button {

}

.content-section {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.content-section h1 {
    text-align: center;
}

.left-content {
    padding: 0px 20px;
    flex: 1;
}

.right-content {
    padding: 0px 20px;
    flex: 1;
}

.right-content img {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    
}

.footer-section {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    height: 50px;
}